<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>旧生书店-注册</title>
    <link rel="stylesheet" th:href="@{store/css/common.css}">
    <link rel="stylesheet" th:href="@{store/styles/login.css}">
    <link rel="stylesheet" th:href="@{store/styles/header.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
</head>
<body>
<div class="form center">
    <div class="login"  style="height: 570px">
        <div class="login_center">
            <div class="login_top">
                <div class="left fl">会员注册</div>
                <div class="right fr">您已有账号？<a href="login.html" target="_self">请登录</a></div>
                <div class="clear"></div>
                <div class="under-line center"></div>
            </div>
            <form id="registerForm" onsubmit="return false;" action="##">
                <div class="login_main center">
                    <div class="login-info">邮箱账号:&nbsp;
                        <input class="login-info-input" type="text" id="registeremail" placeholder="请输入你的邮箱账号"/>
                    </div>
                    <div class="login-info">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:&nbsp;
                        <input class="login-info-input" type="password" name="password" id="password" placeholder="请输入你的密码"/>
                    </div>
                    <div class="login-info">确认密码:&nbsp;
                        <input class="login-info-input" type="password" name="password1" id="password1" placeholder="请再次输入你的密码"/>
                    </div>
                    <div class="login-info">
                        邮箱验证:&nbsp;
                        <input class="login-info-input verify-code" type="text" id="emailverifycode"
                               style="width: 140px;" placeholder="请输入邮箱验证码"/>
                        <button class="codebutton" type="button" onclick="getCode()" id="getcode"
                                style="width:70px;height:42px;background-color: #1baeae;color: #fff">立即获取</button>
                    </div>
                </div>
                <div class="login_submit">
                    <input class="submit" type="button" onclick="register()" value="立即注册">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script type="text/javascript">
    //部署时未开发注册方法
    function register2() {
        swal('未开放，请联系作者获得测试账号', {
            icon: "error",
        });
    }

    //邮箱验证码
    function getCode(){
        $('#getcode').attr("disabled",true);
        var registeremail=$('#registeremail').val();//邮箱号
        if(!registeremail){
            swal('邮箱号不能为空', {
                icon: "error",
            });
            $('#getcode').removeAttr("disabled");
            return;
        }
        if(!/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(registeremail)){
            swal('请输入正确的邮箱号', {
                icon: "error",
            });
            $('#getcode').removeAttr("disabled");
            return;
        }
        var password = $("#password").val();
        var password1 = $("#password1").val();
        if (!validPassword(password)) {
            swal('请输入正确的密码格式(6-16位字符和数字组合)', {
                icon: "error",
            });
            $('#getcode').removeAttr("disabled");
            return;
        }
        if (password!=password1) {
            swal('两次密码输入不一致，请重试', {
                icon: "error",
            });
            $('#getcode').removeAttr("disabled");
            return;
        }

        countDownTimer();

        var myMap = {};
        myMap["registeremail"] = registeremail;

        $.ajax({
            type:"POST",
            url:"http://localhost/email/verifyCode",
            contentType: "application/json",
            data : JSON.stringify(myMap),
            success: function (data){
                if(data == "true"){//获取验证码正常，则不进行处理

                }else if(data == "false"){
                    swal('获取验证码失败，请稍后重试！', {
                        icon: "error",
                    });
                    $('#getcode').removeAttr("disabled");
                    return;
                }else{
                    swal('网络异常，请稍后重试！', {
                        icon: "error",
                    });
                    $('#getcode').removeAttr("disabled");
                    return;
                }
            }
        });
    }
    // 获取验证码
    function countDownTimer(){
        second=59;
        timer = setInterval(function(){
            second -= 1;
            if(second >0 ){
                $('#getcode').attr("disabled",true);
                $('.codebutton').css('background-color','#777777');
                $('#getcode').text("重发(" + second + ")");
            }else{
                second=60;
                clearInterval(timer);
                $('#getcode').removeAttr("disabled");
                $('.codebutton').css('background-color','#1baeae');
                $('#getcode').text("立即获取");
            }
        },1000);
    }

    //注册按钮onclick事件改为register()即可
    function register() {
        var emailverifycode = $("#emailverifycode").val();

        if (!validEmailVerifyCode(emailverifycode)) {
            swal('请输入正确的6位邮箱验证码', {
                icon: "error",
            });
            return false;
        }

        var myMap = {};
        myMap["emailverifycode"] = emailverifycode;

        $.ajax({
            type:"POST",
            url:"http://localhost/email/getSessionCode",
            contentType: "application/json",
            data : JSON.stringify(myMap),
            success: function (data){
                if(data == "true"){//获取验证码正常，则不进行处理

                }else if(data == "false"){
                    swal('验证码错误，请稍后重试！', {
                        icon: "error",
                    });
                    $('#getcode').removeAttr("disabled");
                    return;
                }else{
                    swal('网络异常，请稍后重试！', {
                        icon: "error",
                    });
                    $('#getcode').removeAttr("disabled");
                    return;
                }
            }
        });

        //验证
        var params = $("#registerForm").serialize();

        var url = '/register';
        $.ajax({
            type: 'POST',//方法类型
            url: url,
            data: params,
            success: function (result) {
                if (result.resultCode == 200) {
                    swal({
                        title: "注册成功",
                        text: "是否跳转至登录页?",
                        icon: "success",
                        buttons: true,
                        dangerMode: true,
                    }).then((flag) => {
                            if (flag) {
                                window.location.href = '/login';
                            }
                        }
                    )
                    ;
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
                ;
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }
</script>
</html>